@charset "UTF-8";
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: NotoSans;
  font-display: swap;
  src: url("../fonts/NotoSans-Regular.woff2") format("woff2"), url("../fonts/NotoSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-grid:before {
  content: "\e90c";
}

._icon-line:before {
  content: "\e90b";
}

._icon-burger:before {
  content: "\e909";
}

._icon-catalog:before {
  content: "\e90a";
}

._icon-geo:before {
  content: "\e900";
}

._icon-like:before {
  content: "\e901";
}

._icon-search:before {
  content: "\e902";
}

._icon-tel:before {
  content: "\e903";
}

._icon-triangle-arr:before {
  content: "\e904";
}

._icon-cart:before {
  content: "\e905";
}

._icon-clock:before {
  content: "\e906";
}

._icon-compare:before {
  content: "\e907";
}

._icon-email:before {
  content: "\e908";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #202020;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-width: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper__container {
  flex: 1 1 auto;
}
.wrapper__row {
  overflow: hidden;
  margin: auto;
  max-width: 1480px;
  padding: 0 1.875rem;
  margin-top: 1.875rem;
}
@media (max-width: 92.5em) {
  .wrapper__row {
    margin: 1.875rem 0 0 0;
    max-width: 1460px;
  }
}
@media (min-width: 80em) {
  .wrapper__row {
    display: flex;
    gap: 1.25rem;
  }
}
@media (max-width: 79.9375em) {
  .wrapper__row {
    margin-top: 2.625rem;
  }
}
@media (max-width: 47.99875em) {
  .wrapper__row {
    margin-top: 1.875rem;
    padding: 0 1.25rem;
  }
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 88.75rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.875rem;
}
@media (max-width: 29.99875em) {
  [class*=__container] {
    padding: 0rem 1.25rem;
  }
}

.select {
  position: relative;
}
.select__body {
  position: relative;
}
.select__title {
  color: inherit;
  text-align: left;
  border: 2px solid rgb(233, 236, 242);
  background-color: #fff;
  cursor: pointer;
  width: 100%;
}
.select__value {
  color: #46484e;
  display: flex;
  align-items: center;
  height: 1.875rem;
  padding: 0 0.9375rem;
  gap: 0.625rem;
}
.select__value > * {
  flex: 1 1 auto;
}
.select__value:after {
  content: "\e904";
  display: block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #355ea5;
  font-size: 8px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: rotate(90deg);
}
._select-open .select__value:after {
  transform: rotate(-90deg);
}
.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}
.select__text {
  flex: 1 1 auto;
}
.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}
.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 10px 0px 5px 0px;
}
.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}
.select__option {
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;
  padding: 5px 0px;
  color: inherit;
  width: 180px;
  margin: auto;
}
.select__option:first-child {
  padding-top: 0;
}
.select__option:not(:last-child) {
  border-bottom: 1px solid #cfd4dd;
}
.select__option._select-selected {
  background-color: #eee;
}
@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }
}
.select__row {
  display: inline-flex;
  align-items: center;
}
.select._select-open {
  z-index: 5;
}
._select-tag {
  cursor: pointer;
}

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
}

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

/* Wrapper for all connect elements.
 */
.noUi-connects {
  overflow: hidden;
  z-index: 0;
}

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}

/* Offset direction
 */
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}

/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-vertical .noUi-origin {
  top: -100%;
  width: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  backface-visibility: hidden;
  position: absolute;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  transition: transform 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 2px;
}

.noUi-horizontal .noUi-handle {
  cursor: pointer;
  width: 16px;
  height: 16px;
  right: -15px;
  top: -6px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  bottom: -17px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}

/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-target {
  background: #355ea5;
}

.noUi-connects {
  border-radius: 3px;
}

.noUi-connect {
  background: #3fb8af;
}

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  border: 3px solid #355ea5;
  cursor: default;
  background-color: #fff;
}

.noUi-active {
  box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ddd, 0 3px 6px -3px #bbb;
}

/* Handle stripes;
 */
/* Disabled state;
 */
[disabled] .noUi-connect {
  background: #b8b8b8;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}

/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

/* Values;
 *
 */
.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #ccc;
}

.noUi-marker-sub {
  background: #aaa;
}

.noUi-marker-large {
  background: #aaa;
}

/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
  transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  transform: translate(0, -50%);
  padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
  transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

.noUi-horizontal .noUi-origin > .noUi-tooltip {
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}

.noUi-vertical .noUi-origin > .noUi-tooltip {
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.social__row {
  display: flex;
  gap: 0.875rem;
  align-items: center;
}
.social__item {
  transition: 0.3s;
}
@media (any-hover: hover) {
  .social__item:hover {
    transform: scale(1.15);
  }
}
.social__item img {
  width: 20px;
  height: 20px;
}

.logo img {
  max-width: 100%;
}

.btn {
  font-weight: 600;
  display: inline-block;
  background-color: #f3b003;
  text-align: center;
  transition: 0.3s;
  font-size: 1rem;
  color: #fff;
  min-height: 40px;
  padding: 0.625rem;
}
@media (any-hover: hover) {
  .btn:hover {
    background-color: #ffca42;
  }
}
.btn:active {
  background-color: rgb(255, 217, 119);
  color: rgb(243, 176, 3);
}
.btn_opacity {
  background-color: transparent;
  color: #355ea5;
  border: 2px solid #e9ecf2;
}
@media (any-hover: hover) {
  .btn_opacity:hover {
    background-color: rgb(233, 236, 242);
  }
}
.btn_opacity:active {
  background-color: rgb(233, 236, 242);
  color: #bfcbe3;
}

.input {
  width: 100%;
  padding: 0.53125rem 0.9375rem;
  font-size: 1rem;
  border: 2px solid rgb(233, 236, 242);
  outline: none;
}
.input::placeholder {
  color: #999ea9;
}
.input:focus {
  border: 2px solid rgb(53, 94, 165);
}
@media (max-width: 47.99875em) {
  .input {
    font-size: 0.875rem;
    padding: 0.375rem 0.9375rem;
  }
}

@media (max-width: 79.9375em) {
  html::after {
    content: "";
    pointer-events: none;
    transition: 0.3s;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    background-color: rgba(33, 33, 33, 0.7);
  }
}

@media (max-width: 79.9375em) {
  .menu-open::after {
    opacity: 1;
  }
}

@media (min-width: 47.99875em) {
  .cross {
    display: none;
  }
}
@media (max-width: 47.99875em) {
  .cross {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
  }
  .cross img {
    width: 30px;
    height: 30px;
  }
}

.title-avg {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2083333333;
}

.sidebar {
  flex: 0 0 21.25rem;
  background-color: #f6f8fc;
}
.sidebar__body {
  padding: 1.875rem 0.9375rem;
}
@media (max-width: 79.9375em) {
  .sidebar {
    display: none;
  }
}

.widget:not(:last-child) {
  margin-bottom: 1.875rem;
}
.widget h3 {
  font-weight: 700;
  padding-bottom: 1.875rem;
  color: #355ea5;
  font-size: 1.25rem;
  line-height: 1.2;
}
.widget ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.625rem;
  margin-bottom: 0.625rem;
  line-height: 1.2142857143;
  border-bottom: 1px solid #cfd4dd;
  transition: 0.3s;
}
.widget ul li a::after {
  content: "\e904";
  font-size: 0.4375rem;
  font-family: "icons";
  color: #cfd4dd;
  transition: 0.3s;
}
@media (any-hover: hover) {
  .widget ul li a:hover {
    color: #355ea5;
    border-color: #355ea5;
  }
  .widget ul li a:hover::after {
    color: #355ea5;
  }
}
.widget__slider {
  max-width: 310px;
}
.widget__slide {
  display: flex;
  gap: 0.9375rem;
  background: #e9ecf2;
  align-items: center;
  line-height: 1.2142857143;
}
.widget__slide img {
  flex: 0 0 117px;
  max-width: 100%;
}
.widget__pagination-row {
  margin: 2.125rem 0;
}
.widget__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 210px;
  margin: auto;
  margin-top: 2.125rem;
}

.pagination-row {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 210px;
  margin: auto;
  gap: 1.25rem;
  margin-top: 2.125rem;
}
@media (max-width: 47.99875em) {
  .pagination-row {
    margin-top: 1.1875rem;
  }
}
.pagination-row__arr {
  font-size: 0.625rem;
  color: #355ea5;
}
.pagination-row__arr_prev {
  transform: rotate(180deg);
}

.pagination {
  display: flex;
  gap: 0.625rem;
}
.pagination span {
  cursor: pointer;
  transition: 0.3s;
  width: 16px;
  height: 16px;
  flex: 0 0 16px;
  background: rgb(233, 236, 242);
}
.pagination span.swiper-pagination-bullet-active {
  background-color: #355ea5;
}

.main-title {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.225;
}
.main-title span {
  font-weight: 700;
}
@media (max-width: 79.9375em) {
  .main-title {
    font-size: 2rem;
  }
}
@media (max-width: 47.99875em) {
  .main-title {
    font-size: 1.25rem;
  }
}

.title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.21875;
  padding-bottom: 1.875rem;
}
@media (max-width: 47.99875em) {
  .title {
    font-size: 1.5rem;
  }
}

.link-pagination {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  gap: 0.625rem;
  font-size: 1rem;
  font-weight: 600;
  color: #355ea5;
}
.link-pagination .prev {
  transform: rotate(180deg);
  margin-right: 10px;
}
.link-pagination .next {
  margin-left: 10px;
}
.link-pagination .prev, .link-pagination .next {
  display: block;
  font-size: 0.625rem;
}

@media (max-width: 79.9375em) {
  .header {
    padding-top: 3.375rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.875rem;
  }
}
@media (max-width: 47.99875em) {
  .header {
    padding: 1.875rem 1.25rem 0 1.25rem;
  }
}
@media (max-width: 29.99875em) {
  .header {
    align-items: flex-start;
  }
}
@media (max-width: 47.99875em) {
  .header__container {
    padding: 0 !important;
  }
}

@media (min-width: 80em) {
  .top-header {
    padding: 1.875rem 0;
  }
}
@media (max-width: 47.99875em) {
  .top-header {
    flex: 0 1 50%;
  }
}
@media (min-width: 80em) {
  .top-header__row-top {
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media (max-width: 92.5em) {
  .top-header__row-top {
    margin-bottom: 0.625rem;
  }
}
.top-header__logo {
  flex: 0 1 20rem;
}
@media (min-width: 80em) {
  .top-header__content {
    position: relative;
    flex: 0 1 66.25rem;
    padding: 0.625rem 0 0.90625rem;
  }
  .top-header__content::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(207, 212, 221);
  }
}
@media (max-width: 79.9375em) {
  .top-header__bottom {
    display: none;
  }
}
.top-header__row-bottom {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.top-header__text {
  padding-top: 0.3125rem;
  flex: 0 1 20rem;
  font-size: 0.75rem;
  line-height: 1.25;
}
.top-header__text p {
  max-width: 250px;
}
@media (max-width: 79.9375em) {
  .info-header {
    display: none;
  }
}
.info-header__row {
  display: flex;
  gap: 1.25rem;
  justify-content: space-between;
}
@media (max-width: 92.5em) {
  .info-header__row {
    justify-content: flex-end;
    gap: 2.5rem;
  }
}
.info-header__item {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  font-weight: 500;
}
.info-header__item::before {
  font-size: 1rem;
  color: #355ea5;
}
@media (max-width: 92.5em) {
  .info-header__item._email span {
    display: none;
  }
}

.menu-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 1 66.25rem;
  gap: 2.5rem;
}
.menu-top__body {
  flex: 1 1 auto;
}
.menu-top__list {
  display: flex;
  gap: 0.625rem 2.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 92.5em) {
  .menu-top__list {
    gap: 0.625rem 1.25rem;
  }
}
.menu-top__link {
  font-size: 1rem;
  line-height: 1.25;
  color: #355ea5;
}
@media (any-hover: hover) {
  .menu-top__link:hover {
    text-decoration: underline;
  }
}
.menu-top__btn {
  min-height: 50px;
  font-size: 1.25rem;
  flex: 0 0 15.625rem;
}
@media (max-width: 92.5em) {
  .menu-top__btn {
    font-size: 1rem;
    flex: 0 1 auto;
  }
}

@media (min-width: 80em) {
  .bottom-header {
    padding: 0.9375rem;
    background-color: rgb(245, 248, 252);
  }
}
@media (max-width: 79.9375em) {
  .bottom-header {
    flex: 0 1 21.875rem;
  }
}
@media (max-width: 47.99875em) {
  .bottom-header {
    flex: 0 1 50%;
  }
}
@media (max-width: 47.99875em) {
  .bottom-header__container {
    padding: 0 !important;
  }
}
.bottom-header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4.375rem;
}
@media (max-width: 92.5em) {
  .bottom-header__row {
    gap: 1.875rem;
  }
}
.bottom-header__search {
  position: relative;
}
@media (min-width: 80em) {
  .bottom-header__search {
    flex: 0 1 15.625rem;
  }
}
@media (max-width: 79.9375em) {
  .bottom-header__search {
    width: 100%;
  }
}
.bottom-header__search input {
  padding-left: 50px;
}
@media (max-width: 47.99875em) {
  .bottom-header__search input {
    padding-left: 40px;
  }
}
@media (max-width: 47.99875em) {
  .bottom-header__search input {
    max-height: 30px;
  }
}
.bottom-header__search::before {
  top: 12.5px;
  left: 17.5px;
  color: #999ea9;
  position: absolute;
}
@media (max-width: 47.99875em) {
  .bottom-header__search::before {
    top: 8px;
  }
}
.bottom-header__buttons {
  display: flex;
  gap: 1.71875rem;
  align-items: center;
}
@media (max-width: 92.5em) {
  .bottom-header__buttons {
    gap: 1.5625rem;
  }
}
@media (max-width: 79.9375em) {
  .bottom-header__buttons {
    display: none;
  }
}
.bottom-header__icon {
  flex: 0 0 1.875rem;
  font-size: 1.875rem;
  color: #999ea9;
  transition: 0.3s;
}
@media (any-hover: hover) {
  .bottom-header__icon:hover {
    color: #355ea5;
  }
}
@media (max-width: 92.5em) {
  .bottom-header__icon {
    font-size: 1.5625rem;
    flex: 0 0 1.5625rem;
  }
}

.bottom-menu {
  flex: 0 1 55rem;
}
@media (max-width: 79.9375em) {
  .bottom-menu {
    display: none;
  }
}
.bottom-menu__list {
  display: flex;
  justify-content: space-between;
  gap: 0.625rem 2.5rem;
}
@media (max-width: 92.5em) {
  .bottom-menu__list {
    gap: 0.625rem 1.875rem;
    flex-wrap: wrap;
  }
}
.bottom-menu__item {
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.25;
}
.bottom-menu__item._icon-triangle-arr {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 1.0625rem;
}
.bottom-menu__item._icon-triangle-arr::before {
  transform: rotate(90deg);
  color: #355ea5;
  font-size: 0.625rem;
}
@media (max-width: 92.5em) {
  .bottom-menu__item._icon-triangle-arr {
    gap: 0.625rem;
  }
}
@media (max-width: 92.5em) {
  .bottom-menu__item {
    font-size: 0.875rem;
  }
}
@media (any-hover: hover) {
  .bottom-menu__link:hover {
    text-decoration: underline;
  }
}

.catalog-header {
  transition: 0.3s;
  position: absolute;
  transform: translate(0, 20px);
  width: 100%;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 79.9375em) {
  .catalog-header {
    transform: translate(-100%, 0px);
  }
}
@media (max-width: 79.9375em) {
  .catalog-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: auto;
    max-width: 374px;
  }
  .catalog-header__container {
    padding: 0;
  }
  .catalog-header::-webkit-scrollbar {
    width: 5px;
    margin-right: 20px;
  }
  .catalog-header::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #cfd4dd;
  }
  .catalog-header::-webkit-scrollbar-thumb {
    background-color: #355ea5;
    border-radius: 10px;
  }
}
.catalog-header._active {
  transform: translate(0, 0px);
  opacity: 1;
  visibility: visible;
}
@media (max-width: 80em) {
  .catalog-header__container {
    height: 100%;
  }
}
.catalog-header__body {
  padding: 1.875rem;
  background-color: #fff;
}
@media (max-width: 80em) {
  .catalog-header__body {
    height: 100%;
  }
}
@media (min-width: 80em) {
  .catalog-header__body {
    border-bottom: 2px solid rgb(233, 236, 242);
    border-left: 2px solid rgb(233, 236, 242);
    border-right: 2px solid rgb(233, 236, 242);
  }
}
@media (max-width: 79.9375em) {
  .catalog-header__body {
    padding: 1.875rem 0.9375rem;
  }
}
@media (max-width: 47.99875em) {
  .catalog-header__body {
    padding-top: 3.125rem;
  }
}
.catalog-header__gird {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2.5rem;
}
@media (max-width: 79.9375em) {
  .catalog-header__gird {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
}
.catalog-header__block:last-child {
  grid-column: span 3;
}
.catalog-header__title {
  color: rgb(53, 94, 165);
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 0.9375rem;
}
@media (max-width: 80em) {
  .catalog-header__title {
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 700;
  }
}
.catalog-header__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.625rem;
}
@media (max-width: 79.9375em) {
  .catalog-header__list {
    display: block;
  }
}
.catalog-header__li {
  line-height: 1.2142857143;
}
@media (max-width: 79.9375em) {
  .catalog-header__li {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 0.625rem;
    margin-bottom: 0.625rem;
    border-bottom: 1px solid #cfd4dd;
  }
}
.catalog-header__li::before {
  padding-top: 5px;
  color: #cfd4dd;
  font-size: 7px;
}
@media (min-width: 80em) {
  .catalog-header__li::before {
    display: none;
  }
}
@media (any-hover: hover) {
  .catalog-header__link:hover {
    text-decoration: underline;
  }
}

@media (min-width: 80em) {
  .header__company {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  z-index: 8;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f5f8fc;
  padding: 0.9375rem 1.875rem;
  display: none;
}
@media (max-width: 79.9375em) {
  .mobile-menu {
    display: block;
  }
}
@media (max-width: 47.99875em) {
  .mobile-menu {
    padding: 0.9375rem 1.25rem;
  }
}
.mobile-menu__row {
  display: flex;
  gap: 1.25rem;
  justify-content: space-between;
}
@media (max-width: 23.4375em) {
  .mobile-menu__row {
    gap: 0.625rem;
  }
}
.mobile-menu__item {
  text-align: center;
  color: #999ea9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-menu__item > * {
  display: block;
}
.mobile-menu__icon {
  margin-bottom: 0.5625rem;
  font-size: 30px;
  flex: 1 1 auto;
}
@media (max-width: 47.99875em) {
  .mobile-menu__icon {
    font-size: 1.25rem;
  }
}
.mobile-menu__text {
  font-size: 0.625rem;
}
@media (max-width: 47.99875em) {
  .mobile-menu__text {
    font-size: 0.4375rem;
  }
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
.footer {
  position: relative;
  z-index: 9;
  background-color: #355ea5;
  padding: 1.875rem 0;
  color: #fff;
}
.footer__item-block:not(:last-child) {
  padding-bottom: 1.84375rem;
  margin-bottom: 1.53125rem;
  border-bottom: 1px solid #ffffff;
}

.top-footer__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.875rem 2.5rem;
}
@media (max-width: 92.5em) {
  .top-footer__row {
    flex-wrap: wrap;
  }
}
@media (max-width: 47.99875em) {
  .top-footer__row {
    flex-direction: column;
  }
}
@media (max-width: 92.5em) {
  .top-footer__logo {
    flex: 1 1 100%;
  }
}
@media (max-width: 61.99875em) {
  .top-footer__logo {
    flex: 0 1 auto;
  }
}
.top-footer__btn {
  min-height: 50px;
  font-size: 1.25rem;
}
@media (min-width: 47.99875em) {
  .top-footer__btn {
    flex: 0 1 15.625rem;
  }
}
@media (max-width: 47.99875em) {
  .top-footer__btn {
    min-width: 250px;
  }
}

.menu-footer {
  flex: 1 1 auto;
}
@media (max-width: 61.99875em) {
  .menu-footer {
    display: none;
  }
}
.menu-footer__list {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
  max-width: 760px;
}
.menu-footer__item {
  font-size: 1rem;
  line-height: 1.25;
}
@media (any-hover: hover) {
  .menu-footer__link:hover {
    text-decoration: underline;
  }
}

@media (max-width: 61.99875em) {
  .contacts-footer {
    display: none;
  }
}
.contacts-footer__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2.5rem;
}
.contacts-footer__title {
  padding-bottom: 0.9375rem;
}
.contacts-footer__item {
  display: flex;
  align-items: center;
  gap: 0.8125rem;
  font-weight: 500;
}
.contacts-footer__item:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.contacts-footer__item::before {
  font-size: 1.125rem;
}
@media (max-width: 61.99875em) {
  .catalog-footer {
    display: none;
  }
}
.catalog-footer__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2.5rem;
}
.catalog-footer__item:last-child {
  flex: 0 1 21.5625rem;
}
.catalog-footer__item:last-child .catalog-footer__list {
  grid-template-columns: repeat(2, 1fr);
  gap: 0.625rem 1.25rem;
}
.catalog-footer__title {
  padding-bottom: 0.9375rem;
}
.catalog-footer__list {
  display: grid;
  gap: 0.625rem;
}
.catalog-footer__link {
  font-weight: 500;
}
@media (any-hover: hover) {
  .catalog-footer__link:hover {
    text-decoration: underline;
  }
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem 2.5rem;
}
@media (max-width: 47.99875em) {
  .bottom-footer {
    flex-direction: column;
  }
}
.bottom-footer__copy {
  line-height: 1.2142857143;
}
.bottom-footer__link {
  white-space: nowrap;
  font-weight: 500;
}
@media (any-hover: hover) {
  .bottom-footer__link:hover {
    text-decoration: underline;
  }
}
@media (max-width: 47.99875em) {
  .bottom-footer__link {
    text-align: center;
  }
}

.page {
  min-width: 0;
}
.archive .compressors {
  padding-bottom: 1.875rem;
}

.main-section {
  min-width: 0;
  margin-bottom: 4rem;
}
@media (max-width: 79.9375em) {
  .main-section {
    margin-bottom: 2.625rem;
  }
}
@media (max-width: 47.99875em) {
  .main-section {
    margin-bottom: 2.125rem;
  }
}
.main-section_category .main-section__slider {
  min-height: 15.625rem;
}
.main-section_category .main-section__body {
  margin: 0;
  max-width: 100%;
  padding: 2.5rem 3.75rem;
  min-height: auto;
}
.main-section_category .main-section__title {
  max-width: 28.75rem;
}
.main-section_category .main-section__text {
  max-width: 38.125rem;
  padding: 0;
}
.main-section__slider {
  min-height: 400px;
  width: 100%;
}
@media (max-width: 79.9375em) {
  .main-section__slider {
    min-height: 254px;
  }
}
@media (max-width: 47.99875em) {
  .main-section__slider {
    min-height: 169px;
  }
}
.main-section__slider img {
  max-width: 100%;
}
.main-section__slide {
  position: relative;
  overflow: hidden;
}
.main-section__image-ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-bottom: 37.7358490566%;
}
.main-section__body {
  position: relative;
  margin: 1.875rem;
  padding: 1.875rem;
  max-width: 41.875rem;
  background-color: rgba(53, 94, 165, 0.8);
  display: flex;
  flex-direction: column;
  min-height: 21.25rem;
  align-items: flex-start;
}
@media (max-width: 79.9375em) {
  .main-section__body {
    min-height: 254px;
    max-width: 100%;
    margin: 0;
  }
}
.main-section__title {
  padding-bottom: 1.875rem;
}
@media (max-width: 79.9375em) {
  .main-section__title {
    padding-bottom: 0.9375rem;
  }
}
.main-section__text {
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 500;
  padding-bottom: 1.875rem;
  flex: 1 1 auto;
  color: #fff;
}
@media (max-width: 79.9375em) {
  .main-section__text {
    font-size: 0.875rem;
    padding-bottom: 0.9375rem;
  }
}
.main-section__btn {
  padding: 0.625rem 1.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.compressors {
  padding-bottom: 3.75rem;
}
.filter-block {
  border: 2px solid #f5f8fc;
}
.filter-block__click {
  width: 100%;
  text-align: center;
  color: #355ea5;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
  text-decoration-line: underline;
  padding: 1.25rem;
}
@media (any-hover: hover) {
  .filter-block__click:hover {
    text-decoration: none;
  }
}
.filter-block__title {
  padding: 1.25rem;
  background-color: #c6d6f3;
  color: #355ea5;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
  flex: 0 0 50%;
  text-align: center;
}
.filter-block__title._tab-active {
  background-color: #355ea5;
  color: #fff;
}
.filter-block__navigation {
  display: flex;
}
@media (max-width: 61.99875em) {
  .filter-block__navigation {
    flex-direction: column;
  }
}
.filter-content {
  padding: 0.9375rem 2.1875rem;
}
@media (max-width: 47.99875em) {
  .filter-content {
    padding: 1.875rem 0.9375rem 0.9375rem 0.9375rem;
  }
}
.filter-content__row {
  max-width: 57.8125rem;
  display: flex;
  gap: 1.25rem;
  justify-content: space-between;
}
.filter-content__row-input {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  text-align: center;
}
.filter-content__row-input input {
  flex: 0 1 4.0625rem;
  width: 100%;
  height: 30px;
  border: 2px solid #e9ecf2;
  text-align: center;
  padding: 0rem 0.3125rem;
}
.filter-content__row-input input[type=number]::-webkit-inner-spin-button, .filter-content__row-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.filter-content__left {
  flex: 0 0 23.4375%;
  height: 100%;
  overflow-y: auto;
  max-height: 290px;
}
.filter-content__left::-webkit-scrollbar {
  width: 5px;
}
.filter-content__left::-webkit-scrollbar-track {
  background: rgb(207, 212, 221);
  border-radius: 10px;
}
.filter-content__left::-webkit-scrollbar-thumb {
  background-color: #355ea5;
  border-radius: 10px;
}
.filter-content__left .filter-content__text {
  padding-bottom: 0.9375rem;
}
@media (max-width: 61.99875em) {
  .filter-content__left {
    display: none;
  }
}
.filter-content__right {
  flex: 1 1 auto;
}
.filter-content__right .filter-content__text {
  padding-bottom: 0.625rem;
}
.filter-content__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.9375rem 1.875rem;
  align-items: flex-end;
}
@media (max-width: 61.99875em) {
  .filter-content__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 29.99875em) {
  .filter-content__grid {
    display: flex;
    flex-direction: column;
  }
}
.filter-content__item {
  width: 100%;
}
.filter-content__item_btn {
  margin-bottom: 0.625rem;
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.9375rem 1.875rem;
}
@media (max-width: 61.99875em) {
  .filter-content__item_btn {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0.625rem 0 0 0;
  }
}
@media (min-width: 61.99875em) {
  .filter-content__item_mob {
    display: none;
  }
}
@media (max-width: 61.99875em) {
  .filter-content__item_big {
    grid-column: span 2;
  }
}
.filter-content__item-mini .filtel-content__text {
  padding-bottom: 0.9375rem;
}
.filter-content__item-mini:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.filter-content__radio {
  cursor: pointer;
  display: block;
  padding: 0.625rem 0.9375rem;
  color: #355ea5;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.25;
  border: 2px solid rgb(233, 236, 242);
}
.filter-content__slide {
  position: relative;
}
.filter-content__slide input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.filter-content__slide input:checked {
  opacity: 0;
}
.filter-content__slide input:checked + label {
  border-color: #355ea5;
}
.filter-content__more .filter-content__btn {
  min-width: 210px;
}
.filter-content__more-btn {
  text-align: center;
  margin: 1.875rem 0 0 0;
  width: 100%;
  color: rgb(53, 94, 165);
  text-decoration: underline;
}
@media (any-hover: hover) {
  .filter-content__more-btn:hover {
    text-decoration: none;
  }
}
.filter-content__btn-wrap {
  margin-top: 0.9375rem;
  text-align: center;
}
.filter-content__more-content {
  margin-top: 1.875rem;
  padding-bottom: 0.9375rem;
}
@media (max-width: 29.99875em) {
  .filter-content__more-content {
    margin-top: 0.9375rem;
    padding-bottom: 0;
  }
}
.filter-content__reset {
  color: #355ea5;
  text-decoration: underline;
}
@media (any-hover: hover) {
  .filter-content__reset:hover {
    text-decoration: none;
  }
}
.filter-content .range {
  margin-bottom: 0.875rem;
  margin-top: 0.9375rem;
}
@media (min-width: 61.99875em) {
  .filter-content__btn {
    flex: 0 1 13.125rem;
  }
}
@media (max-width: 61.99875em) {
  .filter-content__btn {
    min-width: 210px;
  }
}
.filter-content .checkbox {
  cursor: pointer;
}
.filter-content .checkbox:not(:last-child) {
  padding-bottom: 0.625rem;
}
.filter-content .checkbox label {
  display: flex;
  gap: 0.625rem;
}
.filter-content .checkbox input {
  flex: 0 0 0.875rem;
  width: 14px;
  height: 14px;
}
.equipment {
  margin-bottom: 3.75rem;
}
.equipment__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}
@media (max-width: 47.99875em) {
  .equipment__grid {
    display: flex;
    flex-direction: column;
  }
}
.equipment__item {
  padding: 1.875rem;
  display: flex;
  min-height: 200px;
  gap: 1.25rem;
  background-color: #f6f8fc;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.equipment__item img {
  max-width: 100%;
  position: absolute;
  bottom: -2.5rem;
  right: -1.875rem;
  max-width: 220px;
}
@media (max-width: 61.99875em) {
  .equipment__item img {
    max-width: 145px;
    bottom: -1.25rem;
    right: -1.25rem;
  }
}
.equipment__subtitle {
  position: relative;
  z-index: 2;
  flex: 1 1 auto;
}
.equipment__link {
  position: relative;
  z-index: 2;
  color: #355ea5;
  text-decoration: underline;
}
@media (any-hover: hover) {
  .equipment__link:hover {
    text-decoration: none;
  }
}

.why {
  margin-bottom: 3.75rem;
}
.why__row {
  display: flex;
  gap: 0.9375rem 1.25rem;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 47.99875em) {
  .why__row {
    flex-direction: column;
  }
}
.why__item {
  background-color: #f6f8fc;
  padding: 0.9375rem;
  position: relative;
}
@media (min-width: 47.99875em) {
  .why__item {
    flex: 0 1 21.25rem;
  }
}
@media (max-width: 47.99875em) {
  .why__item {
    min-height: 260px;
  }
}
.why__subtitle {
  padding-bottom: 0.9375rem;
  font-size: 1rem;
  color: #355ea5;
  font-weight: 600;
  line-height: 1.25;
}
.why__text {
  color: #404040;
  padding-bottom: 7.8125rem;
}
.why__num {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #dfe5f0;
  font-size: 8rem;
  font-weight: 800;
  line-height: 1.21875;
}

.certificates {
  margin-bottom: 3.75rem;
}
.certificates__title {
  padding-bottom: 3.75rem;
}
.certificates__btn {
  min-width: 210px;
  padding: 0.75rem 0.625rem;
}
.certificates__btn-wrap {
  margin-top: 1.875rem;
  text-align: center;
}
.certificates__slider.swiper {
  overflow: visible;
  overflow-x: hidden;
  padding: 1.875rem 0 0 1.875rem;
}
.certificates__slide {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 47.99875em) {
  .certificates__pagination-row {
    margin-top: 2.125rem;
  }
}

.certificate {
  background-color: #f6f8fc;
  display: flex;
  padding: 1.875rem 0.9375rem;
  gap: 0.9375rem;
}
.certificate__image {
  margin: -3.75rem 0 0 -2.8125rem;
}
.certificate__image img {
  max-width: 95px;
}
.certificate__title {
  font-weight: 600;
  color: #355ea5;
  padding-bottom: 2.1875rem;
}
.certificate__text {
  line-height: 1.2142857143;
  color: #202020;
}

.clients {
  padding-bottom: 3.75rem;
}
.clients__slide {
  text-align: center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.clients__image {
  flex: 1 1 auto;
  margin-bottom: 0.9375rem;
}
.clients__image img {
  max-width: 160px;
  width: 100%;
}
@media (max-width: 47.99875em) {
  .clients__image img {
    max-width: 150px;
  }
}
.clients__subtitle {
  color: #dfe5f0;
  font-size: 1rem;
  line-height: 1.25;
}
@media (max-width: 47.99875em) {
  .clients__pagination-row {
    margin-top: 2.125rem;
  }
}
.clients__btn {
  min-width: 210px;
  padding: 0.75rem 0.625rem;
}
.clients__btn-wrap {
  margin-top: 1.875rem;
  text-align: center;
}

.proects {
  margin-bottom: 3.75rem;
}
.proects__slide {
  display: flex;
  flex-direction: column;
}
.proects__image-ibg {
  padding-bottom: 58.8235294118%;
}
.proects__content {
  padding: 1.875rem 0.9375rem;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: #f6f8fc;
}
.proects__subtitle {
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 600;
  padding-bottom: 0.9375rem;
  flex: 0 1 3.75rem;
  color: #355ea5;
}
.proects__text {
  flex: 1 1 auto;
  padding-bottom: 1.875rem;
  line-height: 1.2142857143;
}
.proects__link {
  color: #355ea5;
}
.proects a.proects__link {
  text-decoration: underline;
}
@media (any-hover: hover) {
  .proects a.proects__link:hover {
    text-decoration: none;
  }
}
.proects__btn {
  min-width: 210px;
  padding: 0.75rem 0.625rem;
}
.proects__btn-wrap {
  margin-top: 1.875rem;
  text-align: center;
}
@media (max-width: 47.99875em) {
  .proects__pagination-row {
    margin-top: 2.125rem;
  }
}

.home-news {
  margin-bottom: 3.75rem;
}
.home-news__slide {
  padding: 1.875rem 0.9375rem;
  background-color: #f6f8fc;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
@media (any-hover: hover) {
  .home-news__slide:hover .home-news__link {
    text-decoration: none;
  }
}
.home-news__subtitle {
  padding-bottom: 0.9375rem;
  color: #355ea5;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 600;
}
.home-news__text {
  flex: 1 1 auto;
  line-height: 1.2142857143;
  padding-bottom: 1.875rem;
}
.home-news__date {
  padding-bottom: 0.9375rem;
  color: #cfd4dd;
  padding-bottom: 0.9375rem;
}
.home-news__link {
  text-decoration: underline;
  color: #355ea5;
}
.home-news__btn {
  min-width: 210px;
  padding: 0.75rem 0.625rem;
}
.home-news__btn-wrap {
  margin-top: 1.875rem;
  text-align: center;
}
@media (max-width: 47.99875em) {
  .home-news__pagination-row {
    margin-top: 2.125rem;
  }
}

.form-question {
  margin-bottom: 3.75rem;
  padding: 1.875rem;
  background-color: #f6f8fc;
}
@media (max-width: 47.99875em) {
  .form-question {
    padding: 0.9375rem;
  }
}
.form-question__title {
  padding-bottom: 0.9375rem;
  color: #355ea5;
}
.form-question__text {
  padding-bottom: 1.875rem;
  line-height: 1.2142857143;
}
@media (max-width: 47.99875em) {
  .form-question__text {
    padding-bottom: 0.9375rem;
  }
}
.form-question__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.9375rem 2.1875rem;
  margin-bottom: 0.9375rem;
}
@media (max-width: 61.99875em) {
  .form-question__grid {
    gap: 0.9375rem 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .form-question__grid {
    display: flex;
    flex-direction: column;
  }
}
.form-question__input:nth-child(odd):last-child {
  grid-column: span 2;
}
.form-question__check {
  font-family: "NotoSans";
  padding-bottom: 0.9375rem;
}
.form-question__check label {
  display: flex;
  gap: 0.9375rem;
  font-size: 0.75rem;
  line-height: 1.3333333333;
}
.form-question__check input {
  margin-top: 1px;
  flex: 0 0 14px;
  width: 14px;
  height: 14px;
}
.form-question__btn {
  min-width: 210px;
}
.form-question__btn-wrap {
  margin-top: 0.9375rem;
  text-align: center;
}

.catalog {
  margin-bottom: 3.75rem;
}
.catalog_grid .catalog__items {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.catalog_grid .item-catalog:not(:last-child) {
  margin-bottom: 0;
}
.catalog_grid .item-catalog__info {
  flex-direction: column;
  align-items: center;
}
.catalog_grid .item-catalog__row {
  gap: 0.9375rem;
}
.catalog_grid .item-catalog__name {
  padding-bottom: 0.9375rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: #355ea5;
}
.catalog_grid .item-catalog__image {
  flex: 0 1 auto;
  width: 100%;
  max-width: 8.75rem;
  margin: auto;
}
.catalog_grid .item-catalog__info-content {
  flex: 0 1 auto;
  max-width: 100%;
  text-align: center;
}
.catalog_grid .item-catalog__icons {
  justify-content: center;
  z-index: 2;
  margin-bottom: 0;
}
.catalog_grid .item-catalog__bottom {
  position: absolute;
  top: 1.125rem;
  right: 1.125rem;
  z-index: 2;
}
.catalog_grid .item-catalog__flash {
  top: 0.9375rem;
  left: 0.9375rem;
}
.catalog_grid .item-catalog__row {
  flex-direction: column;
}
.catalog_grid .buy-item {
  flex: 0 1 auto;
}
.catalog_grid .item-catalog__characteristics {
  flex: 0 1 auto;
  margin-bottom: 0.9375rem;
}
.catalog_grid .sale-block {
  padding-bottom: 0.9375rem;
}
.catalog_grid .buy-item__btns {
  gap: 0.625rem;
}
.catalog_grid .buy-item__btn {
  font-size: 1rem;
  min-height: 40px;
}
.catalog_grid .item-catalog__row {
  height: 100%;
}
.catalog_grid .item-catalog__price-block span {
  display: block;
  padding-bottom: 0.9375rem;
}
@media (max-width: 61.99875em) {
  .catalog .catalog__items {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .catalog .item-catalog__row {
    height: 100%;
  }
  .catalog .item-catalog__price-block span {
    display: block;
    padding-bottom: 0.9375rem;
  }
  .catalog .item-catalog:not(:last-child) {
    margin-bottom: 0;
  }
  .catalog .item-catalog__info {
    flex-direction: column;
    align-items: center;
  }
  .catalog .item-catalog__row {
    gap: 0.9375rem;
  }
  .catalog .item-catalog__name {
    padding-bottom: 0.9375rem;
    font-size: 0.875rem;
    font-weight: 600;
    color: #355ea5;
  }
  .catalog .item-catalog__image {
    flex: 0 1 auto;
    width: 100%;
    max-width: 8.75rem;
    margin: auto;
  }
  .catalog .item-catalog__info-content {
    flex: 0 1 auto;
    max-width: 100%;
    text-align: center;
  }
  .catalog .item-catalog__icons {
    justify-content: center;
    z-index: 2;
    margin-bottom: 0;
  }
  .catalog .item-catalog__bottom {
    position: absolute;
    top: 1.125rem;
    right: 1.125rem;
    z-index: 2;
  }
  .catalog .item-catalog__flash {
    top: 0.9375rem;
    left: 0.9375rem;
  }
  .catalog .item-catalog__row {
    flex-direction: column;
  }
  .catalog .buy-item {
    flex: 0 1 auto;
  }
  .catalog .item-catalog__characteristics {
    flex: 0 1 auto;
    margin-bottom: 0.9375rem;
  }
  .catalog .sale-block {
    padding-bottom: 0.9375rem;
  }
  .catalog .buy-item__btns {
    gap: 0.625rem;
  }
  .catalog .buy-item__btn {
    font-size: 1rem;
    min-height: 40px;
  }
}
@media (max-width: 61.99875em) and (max-width: 47.99875em) {
  .catalog .top-catalog {
    align-items: center;
    justify-content: center;
  }
  .catalog .top-catalog__left {
    flex-direction: column;
    gap: 1.25rem;
  }
  .catalog .top-catalog__item {
    flex-direction: column;
  }
}
.catalog__bottom {
  position: relative;
}
@media (min-width: 47.99875em) {
  .catalog__pagination {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
}
@media (max-width: 47.99875em) {
  .catalog__pagination {
    margin-top: 0.9375rem;
    justify-content: center;
  }
}
.catalog__btn {
  margin: 350px;
  margin: auto;
  display: block;
  min-width: 210px;
  min-height: 40px;
}
.catalog__content-top {
  margin-bottom: 0.9375rem;
  padding: 0.78125rem 4.4375rem 0.78125rem 8.125rem;
  background-color: #355ea5;
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}
.catalog__content-top span {
  font-size: 0.75rem;
}
@media (max-width: 61.99875em) {
  .catalog__content-top {
    display: none;
  }
}
.catalog__items {
  margin-bottom: 1.875rem;
}

.top-catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem;
  margin-bottom: 1.875rem;
}
.top-catalog__left {
  display: flex;
  gap: 1.875rem;
}
.top-catalog__item {
  display: flex;
  gap: 0.9375rem;
  align-items: center;
}
.top-catalog__item span {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}
.top-catalog__item .select {
  min-width: 210px;
}
.top-catalog__right {
  display: flex;
  gap: 0.625rem;
}
@media (max-width: 61.99875em) {
  .top-catalog__right {
    display: none;
  }
}
.top-catalog__btn {
  height: 32px;
  width: 32px;
  flex: 0 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5625rem;
  color: #999ea9;
  border: 1px solid #999ea9;
}
.top-catalog__btn._active {
  border: 1px solid #355ea5;
  color: #355ea5;
}

.item-catalog {
  padding: 0.9375rem;
  position: relative;
  background-color: #f6f8fc;
}
.item-catalog:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.item-catalog__price-block {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: center;
  white-space: nowrap;
}
.item-catalog__price-block span {
  display: none;
}
.item-catalog__price {
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 600;
}
.item-catalog__old-price {
  padding-top: 0.3125rem;
  font-size: 0.75rem;
  text-decoration: line-through;
  color: #999ea9;
}
.item-catalog__flash {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25;
  padding: 0.1875rem 0.5rem;
  background-color: #f3b003;
}
.item-catalog__row {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
}
.item-catalog__info {
  display: flex;
  gap: 1.875rem;
}
.item-catalog__image {
  flex: 0 0 96px;
}
.item-catalog__image img {
  width: 100%;
}
.item-catalog__info-content {
  flex: 0 1 10.75rem;
  max-width: 172px;
}
.item-catalog__name {
  font-size: 0.75rem;
  line-height: 1.25;
  font-weight: 500;
  padding-bottom: 0.625rem;
  display: inline-block;
}
.item-catalog__icons {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-bottom: 0.9375rem;
}
.item-catalog__icons img {
  flex: 0 0 1rem;
  width: 16px;
  height: 16px;
}
.item-catalog__bottom {
  display: flex;
  gap: 0.9375rem;
}
.item-catalog__icon {
  flex: 0 0 1.25rem;
  font-size: 1.25rem;
  color: #999ea9;
  transition: 0.3s;
}
@media (any-hover: hover) {
  .item-catalog__icon:hover {
    color: #355ea5;
  }
}
.item-catalog__characteristics {
  flex: 0 1 14.5625rem;
}
.item-catalog__characteristic {
  display: flex;
  justify-content: space-between;
  gap: 3.75rem;
  font-size: 0.75rem;
  line-height: 1.25;
  position: relative;
}
.item-catalog__characteristic::after {
  content: "...";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.item-catalog__characteristic:not(:last-child) {
  margin-bottom: 0.625rem;
}
.sale-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.3125rem;
}
.sale-block__top {
  font-weight: 600;
}
.sale-block__top span {
  color: #f3b003;
}
.sale-block__price-block {
  display: flex;
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
  white-space: nowrap;
}
.sale-block__price {
  background-color: #f3b003;
  padding: 0.4375rem 0.6875rem;
}
.sale-block__percent {
  padding: 0.4375rem 0.6875rem;
  background-color: #eb1616;
}
.sale-block__old-price {
  color: rgb(153, 158, 169);
  font-weight: 600;
  position: relative;
}
.sale-block__old-price span {
  position: relative;
  z-index: 2;
}
.sale-block__old-price::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #eb1616;
}

.buy-item {
  flex: 0 1 10rem;
}
.buy-item__btns {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}
.buy-item__btn {
  min-height: 1.875rem;
  font-size: 0.875rem;
  padding: 0.375rem 0.625rem;
}
.buy-item .btn_opacity {
  padding: 0.1875rem 0.625rem;
}
.buy-item__link {
  display: block;
  margin-top: 0.9375rem;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1.25;
  color: #355ea5;
}
.buy-item a.buy-item__link {
  text-decoration: underline;
}
@media (any-hover: hover) {
  .buy-item a.buy-item__link:hover {
    text-decoration: none;
  }
}

.bottom-contacts {
  padding: 1.875rem;
  margin-bottom: 3.75rem;
  background-color: #f6f8fc;
}
@media (max-width: 61.99875em) {
  .bottom-contacts {
    padding: 0.9375rem;
  }
}
.bottom-contacts__row {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  justify-content: space-between;
}
@media (max-width: 61.99875em) {
  .bottom-contacts__row {
    flex-direction: column;
    justify-content: center;
  }
}
.bottom-contacts__title {
  color: #355ea5;
  padding-bottom: 0;
}
@media (max-width: 61.99875em) {
  .bottom-contacts__title {
    text-align: center;
  }
}
.bottom-contacts__tels {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  white-space: nowrap;
}
.bottom-contacts__tel {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: 500;
  font-size: 1.25rem;
}
.bottom-contacts__tel::before {
  color: #355ea5;
  font-size: 1.125rem;
}
.bottom-contacts__btns {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.bottom-contacts__btn {
  padding: 0.625rem 0.375rem;
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
